#=============================
# DATABASE CONFIGURATION
#=============================
DB_URL='jdbc:postgresql://postgres:5432/readme_ai'
DB_USER=<database_user>
DB_PASS=<database_password>
DB_NAME=<database_name>

#=============================
# AI CONFIGURATION
#=============================
GEMINI_API_KEY=<your_api_key># generate free api key from `https://aistudio.google.com/`

#=============================
# REDIS CONFIGURATION
#=============================

#=============================
# JWT CONFIGURATION
#=============================
JWT_SECRET=<your_secret># generate a 32-bit base-64 random string
JWT_ACCESS_EXPIRATION='900000'# 15 minutes
JWT_REFRESH_EXPIRATION='604800000'# 7 days or 168 hrs
